.header {
    width: 100%;
    padding-top: 50px;
}
.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo {
    font-weight: 500;
    font-size: 36px;
    color: var(--black-color);
}
.header__logo span{
    font-weight: 500;
    font-size: 36px;
    color: var(--grey-color);
}
.header__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 523px;
}
.header__item {
}
.header__link {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: var(--dark-color);
    display: inline-block;
}
.header__btn {
    padding: 27px 55px;
    border: 2px solid var(--dark-color);
    box-sizing: border-box;
    border-radius: 5px;

    font-size: 24px;
    color: var(--black-color);

}